/* Responsive Banner */
.responsive-banner {
  background-image: url("../images/contact-banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  position: relative;
}

.banner-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-text {
  color: white;
  font-size: 4rem;
  font-family: "Arial", sans-serif;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 768px) {
  .banner-text {
    font-size: 2.5rem;
  }

  .responsive-banner {
    min-height: 300px;
  }
}

/* Section Titles */
.section-title {
  color: #f8c146;
  font-size: 2.5rem;
  font-weight: bold;
}

.section-subtitle {
  font-size: 1.4rem;
  color: #000000;
  line-height: 1.8;
  background-color: transparent;
}

/* Contact Cards */
.contact-card {
  background: #282828;
  border: 1px solid #444444;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.contact-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.contact-card .card-title {
  color: #f8c146;
  font-weight: bold;
  font-size: 1.4rem;
}

.contact-card .card-text {
  color: white;
  font-size: 1.2rem;
  line-height: 1.6;
}

/* Responsive Adjustments */
@media (max-width: 576px) {
  .contact-card {
    margin-bottom: 20px;
  }

  .responsive-banner {
    min-height: 250px;
  }

  .section-title {
    font-size: 2rem;
  }

  .section-subtitle {
    font-size: 1.2rem;
  }

  .contact-card .card-title {
    font-size: 1.2rem;
  }

  .contact-card .card-text {
    font-size: 1rem;
  }
}